In [1]:
# a set only contains unique elements, and is specified using curly braces
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(fruits)

{'pear', 'apple', 'orange', 'banana'}

In [2]:
# you can check if a set contains an element using 'in'
print('orange' in fruits)
print('crabgrass' in fruits)

True
False

In [3]:
# iterate over the elemens of a set
for fruit in fruits:
    print(fruit)

pear
apple
orange
banana

In [4]:
# add an element to a set
fruits.add('blueberry')

# add many elements to a set
fruits.update(['dragonfruit', 'rasberry', 'currant'])

print(fruits)

{'rasberry', 'banana', 'currant', 'blueberry', 'dragonfruit', 'pear', 'apple', 'orange'}

In [5]:
# create sets from strings
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)

{'c', 'r', 'a', 'b', 'd'}
{'m', 'c', 'z', 'a', 'l'}

In [6]:
print(a - b) # letters in a but not in b

{'r', 'b', 'd'}

In [7]:
print(a | b) # letters in a or b or both

{'m', 'l', 'c', 'r', 'z', 'a', 'b', 'd'}

In [8]:
print(a & b) # letters in both a and b

{'a', 'c'}

In [9]:
print(a ^ b) # letters in a or b but not both

{'b', 'm', 'r', 'z', 'l', 'd'}

In [10]:
# you can create a blank set with set(), {} is a dictionary
print(type(set()))
print(type({}))

<class 'set'>
<class 'dict'>

In [11]:
# a dictionary is a collection of 'name-value pairs'
tel = {'jack': 4098, 'sape': 4139}
print(tel)

{'jack': 4098, 'sape': 4139}

In [12]:
# add an element
tel['guido'] = 4127
print(tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [13]:
# get an element
print(tel['jack'])

4098

In [14]:
# delete an element
del tel['jack']

In [15]:
# iterate over the keys of a dictionary
for key in tel:
    print(key)

sape
guido

In [16]:
# you can create a dictionary that behaves much like a list, using ints as keys
nums = {0: 56, 1: 24, 2: 38}
nums2 = [56, 24, 38]
print(nums[0])
print(nums2[0])

56
56

### Examples from class

In [1]:
product_to_price = {'apple': 1.0, 'pear': 1.5, 'grapes': 0.75}

In [7]:
product_to_price['cherry'] = 1.25
product_to_price['apple'] = 0.5

In [8]:
product_to_price

{'apple': 0.5, 'pear': 1.5, 'grapes': 0.75, 'cherry': 1.25}

In [9]:
product_to_price2 = {'tuna': 2.5, 'corn flakes': 1.75, 'soup': 2}

In [10]:
product_to_price.update(product_to_price2)

In [11]:
print(product_to_price)
print(product_to_price2)

{'apple': 0.5, 'pear': 1.5, 'grapes': 0.75, 'cherry': 1.25, 'tuna': 2.5, 'corn flakes': 1.75, 'soup': 2}
{'tuna': 2.5, 'corn flakes': 1.75, 'soup': 2}

In [15]:
sorted(product_to_price.keys())

['apple', 'cherry', 'corn flakes', 'grapes', 'pear', 'soup', 'tuna']

In [16]:
sorted_product_to_price = {}
for key in sorted(product_to_price.keys()):
    sorted_product_to_price[key] = product_to_price[key]
print(sorted_product_to_price)

{'apple': 0.5, 'cherry': 1.25, 'corn flakes': 1.75, 'grapes': 0.75, 'pear': 1.5, 'soup': 2, 'tuna': 2.5}

In [17]:
for key in sorted(product_to_price.keys()):
    print(key, product_to_price[key])

apple 0.5
cherry 1.25
corn flakes 1.75
grapes 0.75
pear 1.5
soup 2
tuna 2.5

In [19]:
for x in product_to_price:
    print(x)

apple
pear
grapes
cherry
tuna
corn flakes
soup

In [24]:
for x in product_to_price.keys():
    print(x)

apple
pear
grapes
cherry
tuna
corn flakes
soup

In [20]:
for x in product_to_price.values():
    print(x)

0.5
1.5
0.75
1.25
2.5
1.75
2

In [22]:
for x in product_to_price.items():
    print(x)

('apple', 0.5)
('pear', 1.5)
('grapes', 0.75)
('cherry', 1.25)
('tuna', 2.5)
('corn flakes', 1.75)
('soup', 2)

In [23]:
for x, y in product_to_price.items():
    print('the key is', str(x), 'the value is', str(y))

the key is apple the value is 0.5
the key is pear the value is 1.5
the key is grapes the value is 0.75
the key is cherry the value is 1.25
the key is tuna the value is 2.5
the key is corn flakes the value is 1.75
the key is soup the value is 2

In [25]:
ari_scale = {
     1: {'ages':   '5-6', 'grade_level': 'Kindergarten'},
     2: {'ages':   '6-7', 'grade_level':    '1st Grade'},
     3: {'ages':   '7-8', 'grade_level':    '2nd Grade'},
     4: {'ages':   '8-9', 'grade_level':    '3rd Grade'},
     5: {'ages':  '9-10', 'grade_level':    '4th Grade'},
     6: {'ages': '10-11', 'grade_level':    '5th Grade'},
     7: {'ages': '11-12', 'grade_level':    '6th Grade'},
     8: {'ages': '12-13', 'grade_level':    '7th Grade'},
     9: {'ages': '13-14', 'grade_level':    '8th Grade'},
    10: {'ages': '14-15', 'grade_level':    '9th Grade'},
    11: {'ages': '15-16', 'grade_level':   '10th Grade'},
    12: {'ages': '16-17', 'grade_level':   '11th Grade'},
    13: {'ages': '17-18', 'grade_level':   '12th Grade'},
    14: {'ages': '18-22', 'grade_level':      'College'}
}

In [28]:
ari_scale[10]['grade_level']

'9th Grade'

In [35]:
liquidation = {key: value / 2 for key, value in product_to_price.items()}
print(product_to_price)
print(liquidation)

{'apple': 0.5, 'pear': 1.5, 'grapes': 0.75, 'cherry': 1.25, 'tuna': 2.5, 'corn flakes': 1.75, 'soup': 2}
{0.5: 'apple', 1.5: 'pear', 0.75: 'grapes', 1.25: 'cherry', 2.5: 'tuna', 1.75: 'corn flakes', 2: 'soup'}